body {
  background-color: rgb(0, 0, 12);
}

* {
  margin: 0;
  padding: 0;
}

.sideBar {
  width: 85%;
  max-width: 300px;
  height: 100;
}

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.hover-white{
  transition: all ease 1s;
}
.hover-white:hover {
  font-weight: bold;
  /* filter: drop-shadow(0 0 0.1rem rgb(255, 255, 255)); */
}
